.root {
    width: 100%;
    .formSection {
        display: flex;
        width: 100%;
        .select {
            flex-basis: 50%;
            flex-shrink: 1;
            padding-right: 23px;
        }
        .weatherContainer {
            margin-top: 8px;
        }
    }
    .colorContainer {
        margin-bottom: 34px;
        padding-left: 5px;
        .color {
            justify-content: space-around;
        }
    }
    .formFooter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .cancelButton {
            margin-right: 10px;
        }
    }
}